
#todo{
    display: grid;
    /* height: 100%; */
    font-size: 30px;
    gap: 1em;
    background-color: rgb(228, 228, 228);
    color: white;
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.3em 0.3em 0.3em 0.3em;
    padding: 0.1em 0.1em 0.1em 0.1em;
}

#texto2, #textoMedio, #textoArriba, #logo, #flecha{
    display:none;
}


    #cabecera {
        display: grid;
        grid-template-columns: 1fr; /* Una columna que ocupa todo el ancho disponible */
        grid-template-columns: auto;
        grid-template-rows: auto; /* Ajusta las filas automáticamente según su contenido */
         width: 100%; 
         background-color: white;
    }

    

    #cabecera_menu {
        background-color: rgb(231, 148, 92, 96%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        width: 100%;
        height: 2em;
        
    }
        #cabecera_menu a {
            color: rgb(23, 114, 126);
            text-decoration: none;
            font-weight: bolder;
        }
    
        #cabecera_menu a:hover {
            color: rgb(149, 224, 215);
        }
        #cabecera_menu img:hover{
        filter: contrast(20%);
        
    }

    #grupoMenu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-evenly;
        width: 100%;
        /* height: 2em; */
    }
    
    #cabecera_menu img {
        width: 1.5em;

    }


    #redes {
        
        margin-left: auto;
    }
    
    #redes img {
        width: 2em;
    }


    #inicial {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: rgb(228, 228, 228);
         
        
    }

    #inicial video{
    width: 100%;
    
    }
    #imagenInicial{
        justify-content: center;
            /* Centra horizontalmente el contenido */
            align-items: center;
            /* Centra verticalmente el contenido */
            width: auto;
    }

    #sesion{
        background-color: rgb(236, 236, 236);
        color: black;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        align-items: center;
        justify-content:space-between;
        gap: 1em;
        font-size: 0.8em;

    }
    #sesion input{
        background-color: gray;
        color: white;
        width: 22em;
        height: 2em;
        font-size: 1em;
        border-radius: 5px;
        box-sizing: border-box;
    }

    #sesion input::placeholder{
        color: rgb(212, 212, 212);
    }

    #inputs{
        display: grid;
        gap: 1em;
    }
    #sesion button{
        color: rgb(255, 255, 255);
        background-color:rgb(0, 141, 115);
        border-radius: 5px;
        height: auto;
        font-size: 1em;
        /* width: fit-content; */
        padding: 7px 5px 7px 5px;
    }
    #sesion button:hover{
        background-color:rgb(0, 33, 141);
    }
    #sesion img{
        width: 2em;
        
        }
    #sesion li a{
        color:rgb(0, 141, 115);
        text-decoration: none;
    }
    #sesion li a:hover{
        color:rgb(0, 33, 141);
    }

    #medio{
        background-color: rgb(243, 243, 243);
        display: grid;
        grid-template-columns: 1fr; /* Una columna que ocupa todo el ancho disponible */
        grid-template-rows: auto; /* Ajusta las filas automáticamente según su contenido */
        width: 100%;
        justify-self: center;
        gap: 3em;
        
        background-color: rgb(228, 228, 228);
        
        
    }

    #cuadro1{
        background-color: rgb(149, 224, 215);
        display: grid;
        gap: 1em;
        justify-items: center;
        justify-content: space-between;
        grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "texto1"
                "imagen1";
            place-items: center;
            padding: 2em;
    }

    #cuadro2{
        background-color: rgb(23, 114, 126);
        display: grid;
        gap: 1em;
        justify-items: center;
        place-items: center;
        padding: 2em;

    }
    #imagen1{ 
        width: 100%;
        padding: 0%;

    }
    #imagen2{
        width: 100%;
        
    }

    iframe {
        width: 100%;
        box-sizing: border-box;
        border: 0.6em solid rgb(23, 114, 126);
        border-left: 0.4em solid rgb(23, 114, 126);
        border-right: 0.4em solid rgb(23, 114, 126);
        border-radius: 5px;
        height: 14em;
    }
    #imagen2 img{
        width: 100%;
        border: 0.6em solid rgb(149, 224, 215);
        border-radius: 5px;
        box-sizing: border-box;
    }
    #texto1, #texto2{
        /* text-align: justify; */
        font-family: 'Roboto', sans-serif;
        background-color: white;
        color: rgb(105, 105, 105);
        width: auto;
        height: auto;
        border-radius: 10px;
        line-height: 2em;
    }

    #pie{
        background-color: black;
        color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:space-around;
        font-size: 12px;
    }

@media all and (min-width: 768px) {

    #todo{
        font-size: 20px;
    }
    #textoMedio, #textoArriba,#logo{
        display: block;
    }
    #logo{
        font-size: 1.6em;
        font-weight: bold;
        opacity: 60%;
    }

         #cabecera_menu:first-child{
            flex-grow: 1;
         }
    #grupoMenu{
        width: 80%;
        }
        
    #textoMedio{
        color: rgb(23, 114, 126);
    }

    #textoArriba {
        background-color: gray;
        color: white;
        width: 80%;
        justify-self: center;
        height: 1.5em;
        padding-top: 1em;
        padding-left: 2em;
        }
        #medio{
            width: 80%;
            
        }
        @keyframes mymove {
        25% {
            background-color: red;
            

        }

        50% {
            background-color: orangered;
            


        }

        70% {
            background-color: orange;
            
        }

        100% {
            background-color: yellow;
            
            width: 100%;
        }
    
}
#textoArriba{
            animation: mymove 2s infinite;
            animation-delay: 2s;
            /* animation-fill-mode:forwards; */
            animation-direction: alternate;
}
        
}

@media all and (min-width: 1024px) {

    #texto2{
        display: block;
    }
#inicial {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        background-color: rgb(39, 39, 46);
        justify-content: space-around;

    }
    #flecha {
        display: flex;
        color: aliceblue;
        text-align: center;
        font-size: 4em;
        font-weight: bolder;
        font-family: Bradley Hand, Comic Sans, cursive;
        justify-content: center;
        
        }

        #imagenInicial{
            
            width: auto;
        }
        #sesion{
            flex-direction: column;
            /* margin:2em 4em 2em 4em ;
            box-sizing: border-box; */

        }
        #sesion, #sesion > *, #sesion input{
            width: auto;
            height: auto;
        }

        #sesion{
            padding:0em 2em 0em 2em;
            margin: 2em 0em 2em 0em;
        }

        #cuadro1{
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "texto1 imagen1";
        }
        #cuadro2{
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "texto2 imagen2";
        }
        #flecha,#imagenInicial,#sesion {
                    /* flex: 1;   */
        }

        video{
            max-height: 10em;
        }

        #cabecera_menu{
            font-size: 0.8em;
            height: 5em;
            align-items: end;
            padding-bottom: 1.3em;
        }
        #grupoMenu{
            justify-content: end;
            gap: 2em;
            width: 40%;
        }
        #texto2{
        margin: 0 0 0 5em ;
        padding: 0.2em 0.5em 0.2em 1em;
        height: auto;
        line-height: 2em;
        font-weight:100;
        
        }
}