
#todo{
    display: grid;
    height: 100%;
    font-size: 40px;
    gap: 10px;
}

#texto2, #textoMedio, #textoArriba, cabecera_menu:first-child{
    display:none;
}


    #cabecera {
        display: grid;
        grid-template-columns: 1fr; /* Una columna que ocupa todo el ancho disponible */
        grid-template-rows: auto; /* Ajusta las filas automáticamente según su contenido */
        width: 100%;
    }

    

    #cabecera_menu {
        background-color: orange;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        width: 100%;
        height: 2em;
        
    }
    
    #cabecera_menu img {
        width: 1em;

    }


    #redes {
        margin-left: auto; /* Esto alinea el elemento al final a la derecha */
    }
    
    #redes img {
        width: 2em;
    }


    #inicial {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    #inicial img{
    width: 80%;
    
    }

    #sesion{
        background-color: rgb(53, 53, 53);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: auto;
        height: 15em;
        align-items: center;
        justify-content:space-around;
        width: 100%;
    }
    #sesion input{
        background-color: gray;
        color: white;
        width: 22em;
        height: 2em;
        font-size: 1em;
        border-radius: 5px;
        box-sizing: border-box;
    }

    #sesion input::placeholder{
        color: rgb(212, 212, 212);
    }

    #inputs{
        display: grid;
        gap: 1em;
    }
    div#sesion button{
        color: rgb(255, 255, 255);
        background-color:rgb(0, 141, 115);
        border-radius: 5px;
        height: auto;
        font-size: 1em;
        /* width: fit-content; */
    }
    div#sesion button:hover{
        background-color:rgb(0, 33, 141);
    }
    #sesion img{
        width: 2em;
        }

    #medio{
        display: grid;
        grid-template-columns: 1fr; /* Una columna que ocupa todo el ancho disponible */
        grid-template-rows: auto; /* Ajusta las filas automáticamente según su contenido */
        width: 100%;
        justify-self: center;
        gap: 50px;
        
        
    }

    #cuadro1{
        background-color: rgb(149, 224, 215);
        display: grid;
        gap: 1em;
        justify-items: center;
        
    }

    #cuadro2{
        background-color: rgb(149, 224, 215);
        display: grid;
        gap: 1em;
        justify-items: center;
        
        
        
    }
    #imagen1{
        
        width: 90%;
        
        
    }
    #imagen2{
        width: 90%;
        
    }

    #imagen1 img, #imagen2 img{
        width: 100%;
        border: solid black 5px;
        box-sizing: border-box;
    }

    #texto1, #texto2{
        background-color: white;
        color: black;
        width: 90%;
        box-sizing: border-box;
        border: solid black 5px;
    }

    #pie{
        background-color: black;
        color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content:space-around;
        font-size: 12px;
    }

@media all and (max-width: 992px) {
    #textoMedio, #textoArriba,#cabecera_menu:first-child{
        display: none;
    }
}

@media all and (min-width: 1024px) {

}