#todo{
    height: auto;
    background-color: rgb(136, 136, 136);
}



@media all and (max-width: 768px) {
    #todo{
        display: flex;
        flex-flow:row wrap;
    }
    #redes{
        justify-self: flex-end;
    }
    #redes img{
        width: 26px;
        
    }
}




@media all and (max-width: 992px) {
    #todo{
        height: 100%;
        background-color: rgb(136, 136, 136);
    }
}

@media all and (min-width: 993px) {
    #todo{
        height: 100%;
        background-color: rgb(136, 136, 136);
    }
}