html{
     background-color: rgb(39, 39, 46);
    border: 1px solid rgb(255, 255, 255);
    
}
/****************************CABECERA MÁS ALTA****************************/
    div#RS{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 2.6em;
        position: static;
        
    }
    div.RS img{
        width: 32px;
        max-height: 32px;
        float: left;
        padding: 5px;
        position:relative;
        left: 70%;
        filter: contrast(20%);
    }
    div.RS img:hover{
        filter: contrast(120%);
    }
    
    
    /**************************CABECERA CON EL MENÚ******************************/
    div#menu{
        background-color: rgb(231, 148, 92,96%);
        width: 100%;
        height: 8.5em;
        max-height: 8.5em;
        overflow:hidden;
        position: static;
        
    }
    div#menu h2{
        color: rgb(255, 255, 255);
        opacity: 60%;
        position: relative;
        top: 50%;
        left: 15%;
    }

    /****************************BOTONES DENTRO DEL MENÚ****************************/
    div#nav{
        position: relative;
        top:15%;
        left: 60%;
        word-spacing: 20px;
        
    }
    div#nav a{
        color: rgb(23, 114, 126);
        text-decoration:none;
        font-weight: bolder;
    }
    div#nav a:hover{
        color:  rgb(149, 224, 215);

    }
    div#nav img{
        width: 20px;
        height: 20px;
        position: static;
    }
    div#nav img:hover{
        filter: contrast(20%);
        
    }
    

/****************************DEBAJO DEL MENÚ****************************/
    #presentacion{
        float: left;
        position: relative;
        max-height: 15em;
        height: 15em;
        width: 100%;
        background-image: url('imagenes/sus.png');
        background-repeat: no-repeat; 
        background-size:contain;
        background-position: center;
        
    }
    /***************************LA FLECHA A LA IZQUIERDA EN LA PRESENTACIÓN*****************************/
      #flecha{
        color: aliceblue;
        text-align: center;
        font-size: 4em;
        font-weight: bolder;
        float: left;
        width: 30%;
        height: 11em;
        font-family:Bradley Hand, Comic Sans, cursive;
    } 
/****************************CUADRO PARA LA SESIÓN****************************/
    #sesion{
        background-color: rgb(255, 255, 255); 
        float: left;
        position: relative;
        top: 16%;
        left: 45%;
        border-radius:0px;
        width: 16%;
        
    }
    
    #sesion input{
        background-color: gray;
        color: white;
        padding-left: 5px;
        margin: 7px;
        border-radius: 5px;
        width: 90%;
        box-sizing: border-box;
    }

    #sesion input::placeholder{
        color: rgb(212, 212, 212);
    }
    div#sesion img{
        width: 20px;
        height: 20px;
    }
    div#sesion button{
        color: rgb(255, 255, 255);
        background-color:rgb(0, 141, 115);
        border-radius: 5px;
        float: right;
        height: 33px;
        margin-right: 17px;
    }
    div#sesion button:hover{
        background-color:rgb(0, 33, 141);
    }

    div#sesion ul {
        margin: 0px;
        padding: 0px;
        padding-left: 23px;
        color: rgb(0, 141, 115);
    }
    #sesion li a{
        color:rgb(0, 141, 115);
        text-decoration: none;
        font-size: 0.8em;
    }
    #sesion li a:hover{
        color:rgb(0, 33, 141);
    }


    /****************************DIV QUE OCUPA LA PARTE CENTRAL DE LA PÁGINA****************************/
     #principal{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        float: left;  
    }

    /****************************TEXTO CON EL FONDO GRIS****************************/
    #arribaimagen{
        width: 70%;
         margin: auto;
         background-color: gray;
         color: aliceblue;
    }

    #arribaimagen p{
        padding: 0.5%;
        padding-left: 2em;
        padding-top: 1%;
        font-size: 2em;
        font-weight: bolder;
    }

    /****************************CUADROS CON INFORMACIÓN EN LA MITAD DE LA PÁGINA****************************/
    #datos1, #datos2{
        padding: 18px; 
        margin: auto;
        display: flex;
        justify-content: center; 
        border-radius: 0.2em;
        width: 65%;
        min-width: 65%;
        overflow:none;
    }

    #datos1{
        background-color: rgb(149, 224, 215);
    }
    #datos2{
        background-color: rgb(23, 114, 126);
        
        
    }

    #texto1, #texto2{
        background-color: rgb(255, 255, 255);
        font-size: 1.3em;
        color: rgb(31, 31, 31);
        text-align: justify;
        vertical-align: top;
        font-family: Arial, Helvetica, sans-serif;
        
    } 

    #texto1{
        height: auto;
        width: 50%;
        min-width: 50%;
        border-radius: 5px;
        
    }
    #imagen1{
        margin-left: 14px;
        width: 60%;
        padding: 13px;
        padding-top: 15px;
        margin-right: 19px;
        overflow:none;
        
    }

    #imagen1 img{
        width: 100%;
        border: 0.6em solid rgb(23, 114, 126);
        border-left: 0.4em solid rgb(23, 114, 126);
        border-right: 0.4em solid rgb(23, 114, 126);
        border-radius: 5px;
    }

    #texto2{
        height: auto;
        margin-top: 3px;
        margin-bottom: 3px;
        width: 45%;
        min-width: 45%;
        border-radius: 5px;
        margin-right: 0px;
        padding-right: 0px;
        margin-left: 8%;
        
    }
    #imagen2{
        margin-right:30px ;
        width: 40%;
        
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 16px;
        overflow:none;
        
        
    }

    #imagen2 img{
        width: 100%;
        border: 0.6em solid rgb(149, 224, 215);
        border-radius: 5px;
    }

    
/****************************TEXTO ENTRE CUADROS DE INFORMACIÓN****************************/
    #textocentro{
        color: rgb(23, 114, 126);
        text-align: center;
        font-style: italic;
        font-family:Bradley Hand, Comic Sans, cursive;
        font-size: 1.5em;
    }

    /****************************PIE DE PÁGINA****************************/
    #final{
        background-color: rgb(50, 63, 63);
        width: 100%;
        height: 5em;
        position: static;
    }
    
    div.RS2 img{
        width: 32px;
        max-height: 32px;
        float: left;
        padding: 5px;
        position:relative;
        left: 70%;
        filter: contrast(0%);
        top: 20px;
    }
    div.RS2 img:hover{
        filter: contrast(100%);
    }
    div#final h3{
        color: rgb(255, 255, 255);
        position:static;
        display: block;
        height: 5px;
        margin: 0%;
        padding: 0%;
        
    }
    div#final p{
        color: rgb(255, 255, 255);
        margin: 0%;
        padding: 0%;
        margin-right: 13%;
        text-align: center;


    }